<script>
  import { createEventDispatcher } from 'svelte';
  import { Auth } from '@aws-amplify/auth';

  import Button from '../common/Button.svelte';
  import InfoBox from '../common/InfoBox.svelte'

  const dispatch = createEventDispatcher();

  export let user;

  let newPassword = '', newPasswordConfirm = '';
  let errorMessage = '';

  const handleChangePassword = async () => {
    if (newPassword !== newPasswordConfirm) {
      errorMessage = 'Passwords do not match.';
      return;
    }
    try {
      await Auth.completeNewPassword(user, newPassword);

      dispatch('password-changed', true);  // dispatch signal so parent component can catch it.
    } catch (err) {
      console.error(err);
      errorMessage = err.message;
    }
  };
</script>

<form on:submit|preventDefault={handleChangePassword}>
  <label for="new-password">New Password</label>
  <input bind:value={newPassword} type="password" id="new-password" />
  <label for="new-password-confirm">Confirm New Password</label>
  <input bind:value={newPasswordConfirm} type="password" id="new-password-confirm" />

  <Button type="submit">Finish</Button>
  {#if errorMessage}
    <InfoBox kind="error">{errorMessage}</InfoBox>
  {/if}
</form>
