<script>
  import { onMount } from 'svelte';
  import { navigate } from 'svelte-routing';
  import { Auth } from '@aws-amplify/auth';
  import { Storage } from '@aws-amplify/storage';

  import { storedUser } from '../store';

  import Speech from './Speech.svelte';
  import Logout from '../utils/Logout.svelte';
  import Gallery from '../gallery/Gallery.svelte';

  const currentUser = async () => {
    return await Auth.currentUserCredentials();
  }

  let currentUserPromise = currentUser();
  let logoURL = '';
  let logoImageName = 'flisol_logo.png';

  onMount(async () => {
    try {
      // By default, Storage.get will fetch the given key
      // from the public directory.
      logoURL = await Storage.get(logoImageName);
    } catch (error) {
      console.error('Storage.get', error)
    }
  });

  // Placeholder content for non-authenticated users
  let speeches = [
    {
      title: 'Gladiator (2000) – As One',
      text: `Former Roman General Maximus is standing before a blood thirsty crowd with a motley crew of gladiators.
       He recognizes what has beenlanned for their death and organizes the gladiators together to form an effective fighting unit.
       His message is stand alone, you die. Stand together and we can win.`
    },
    {
      title: 'Braveheart (1995) – William Wallace',
      text: `Leader of the rebel Scots, William Wallace exhorts his people to fight for their freedom and not live one further day in slavery.
       This is based on the real speech that William Wallace gave before the Battle of Stirling.
       Makes you want to go out and buy a kilt.`
    },
    {
      title: 'Facing the Giants (2006) – Death Crawl',
      text: `Coach Taylor urges his team to give their best for the game.
       Don’t ever give up before you started. There is a lot more inside of yourself than you might believe.`
    },
  ];
</script>

<style>
  section {
    display: grid;

    grid-template-columns: 1fr 50%;
    place-items: center;
  }
  .dou-logo {
    cursor: pointer;
  }
  header {
    background-image: url('/flisol_bg.png')
  }
</style>

<!-- Click DoU image to Login -->
<header>
  <img loading="lazy" class="dou-logo" alt="flisol logo" width="300"
       src={logoURL} on:click={() => navigate('/login')} />
</header>

<!--If $storedUser is set, it means we have an active session.-->
{#if $storedUser}
  <div>
    {#await currentUserPromise then userCreds}
      <code>Current user Identity ID: '{userCreds.identityId}'</code>
      <Gallery />
      <Logout />
    {/await}
  </div>
{:else}
  <section>
    {#each speeches as speech}
      <Speech title={speech.title} text={speech.text} />
    {/each}
  </section>
{/if}
