<script>
  import { createEventDispatcher } from 'svelte';
  import { onMount } from 'svelte';

  import { navigate } from 'svelte-routing';

  import { Auth } from '@aws-amplify/auth';
  import { Storage } from '@aws-amplify/storage';

  import Button from '../common/Button.svelte';
  import InfoBox from '../common/InfoBox.svelte';
  import ChangePassword from '../changepassword/ChangePassword.svelte';
  import Ellipsis from '../ellipsis/Ellipsis.svelte';

  const dispatch = createEventDispatcher();

  let username = '', password = '';
  let errorMessage;

  let resetPassword = false;
  let user = {};

  let signingIn = false;
  let loginBgUrl = '';

  const handleSignIn = async () => {
    signingIn = true;
    try {
      user = await Auth.signIn(username, password);
      resetPassword = user.challengeName === 'NEW_PASSWORD_REQUIRED';
      signingIn = false;
    } catch(error) {
      errorMessage = error.message;
      signingIn = false;
    }
  };

  onMount(async () => {
    try {
      await Auth.currentAuthenticatedUser();
      navigate('/');
    } catch (error) {
      console.log('not logged in!', error);
      try {
        loginBgUrl = await Storage.get('flisol_login_banner.jpg');
      } catch(error) {
        console.error(error);
      }
    }
  });
</script>

<style>
  .wrapper-content label {
    text-align: left;
    padding: 0 0 7px;
    display: block;
  }

  .wrapper-content input {
    margin-bottom: 22px;
    height: 30px;

    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .wrapper-login {
    width: 100%;
    max-width: 500px;
  }
  .wrapper-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper-input {
    width: 300px;
  }
  .left {
    place-self: center;
  }
  .right {
    height: 100vh;
    background-size: cover;
  }
  .alt-login {
    color: brown;
    font-family: monospace;
  }
</style>

<section class="wrapper">
  <div class="left">
    <div class="wrapper-login">
      <img src="/vaca_pal_rancho.png" loading="lazy" width='170' />
      <h2>Una Vaca Pal' Rancho</h2>
      {#if !resetPassword}
        <form class="wrapper-content" on:submit|preventDefault={handleSignIn}>
          <div class="wrapper-input">
            <label for="username">Username</label>
            <input disabled="{signingIn}"
                   bind:value={username} type="text" id="username" />
          </div>
          <div class="wrapper-input">
            <label for="password">Password</label>
            <input disabled="{signingIn}"
                   bind:value={password} type="password" id="password" />
          </div>

          {#if !signingIn}
            <Button type="submit">Login</Button>
          {:else}
            <Ellipsis />
          {/if}
          <p class="alt-login">Or</p>
          <Button on:click={() => Auth.federatedSignIn()} secundary="true">
            Hosted UI Login
          </Button>
          {#if errorMessage}
            <InfoBox kind='error'>{errorMessage}</InfoBox>
          {/if}
        </form>
      {:else}
        <div class="wrapper-content">
          <div class="wrapper-input">
            <InfoBox>Please reset your password</InfoBox>
          </div>
          <div class="wrapper-input">
            <ChangePassword {user}
                            on:password-changed={() => resetPassword = false} />
          </div>
        </div>
      {/if}
    </div>
  </div>

  <div style="background-image: url('{loginBgUrl}')" class="right"></div>

</section>
