<script>
  import { onMount } from 'svelte';
  import { Storage } from '@aws-amplify/storage';

  // window.LOG_LEVEL = 'DEBUG';
  let pictures = [];
  onMount(async () => {
    const result = await Storage.list('', {level: 'private'});
    for (let fi of result) {
      if (fi.key !== '') {
        const url = await Storage.get(fi.key, {level: 'private'});
        pictures = [...pictures, url];
      }
    }
  });
</script>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
</style>

<h2>All Hands</h2>

<section>
  {#each pictures as url, idx}
    <img loading="lazy" alt="all-hands-{idx}" width='470' src={url} />
  {/each}
</section>
