<script>
  import { Auth } from '@aws-amplify/auth';

  import Button from '../common/Button.svelte';

  async function handleSignOut() {
    await Auth.signOut();
  }
</script>

<Button secundary="true" on:click={handleSignOut}>Log Out</Button>
