<script>
  import { Route, Router } from 'svelte-routing';

  import Amplify from '@aws-amplify/core';

  import { startAuthListener } from './utils/amplify.utils';

  import awsConfig from './aws-exports';
  import Login from './login/Login.svelte';
  import Home from './home/Home.svelte';

  Amplify.configure(awsConfig);
  startAuthListener();

  export let url = '';
</script>

<style>
  main {
    text-align: center;
    max-width: 100%;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>

<main>
  <Router url="{url}">
    <Route path="login">
      <Login />
    </Route>
    <Route path="/">
      <Home />
    </Route>
  </Router>
</main>
