<script>
  export let secundary = false;
  export let type = 'button';
</script>

<style>
  .button {
    color: #fff;
    outline: none;
    transition: all 0.6s;
    background-color: #62959c;
    width: 100%;
    padding: 8px;
    border-radius: 0.25rem;
    border: navajowhite;
  }

  .button:hover {
    opacity: 0.77;
    cursor: pointer;
  }

  .secundary-button {
    background-color: #9c3d54;
  }
</style>

<button type={type}
        on:click
        class="button {secundary === 'true' ? 'secundary-button' : ''}">
  <slot />
</button>
