<script>
  export let kind = 'info';
</script>

<style>
  .box {
    border-color: #bee5eb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    display: grid;
  }
  .info {
    background-color: #d1ecf1;
  }
  .error {
    background-color: #f8d7da;
  }
</style>

<div class="box {kind}">
  <span>&#9432;</span>
  <slot />
</div>
